// personal
.personal {
   padding: 125px 0 70px 0;
   @media (max-width: 768px) {
      padding: 50px 0;
   }
   &__row {
      display: flex;
      justify-content: space-between;
      gap: 100px;
      @media (max-width: 768px) {
         gap: 50px;
      }
      @media (max-width: 600px) {
         flex-direction: column-reverse;
         gap: 30px;
      }
   }
   &__content {
      @media (max-width: 600px) {
         text-align: center;
      }
   }
   &__title {
      margin-bottom: 30px;
      @media (max-width: 768px) {
         margin-bottom: 15px;
      }
   }
   &__description {
      margin-bottom: 37px;
   }
   &__image {
      flex-shrink: 0;
      width: 243px;
      height: 243px;
      background: $secondary;
      border-radius: 50%;
      position: relative;
      display: block;

      img {
         position: absolute;
         width: 100%;
         height: 100%;
         border-radius: 50%;
         object-fit: cover;
         top: -13px;
         left: 5px;
      }
      @media (max-width: 768px) {
         width: 200px;
         height: 200px;
         img {
            width: 100%;
            height: 100%;
         }
      }

      @media (max-width: 600px) {
         width: 180px;
         height: 180px;
         margin: 0 auto;
         img {
            width: 100%;
            height: 100%;
            top: -9px;
            left: 3px;
         }
      }
   }
}

// posts
.posts {
   padding-bottom: 22px;
   background-color: $secondary;
   &__top {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
   }
   &__link {
      font-size: 16px;
      line-height: 24px;
      color: $blue;
      &:hover {
         color: $primary;
      }
   }
   &__row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
   }
}
.post {
   padding: 23px 23px 30px 23px;
   background-color: #fff;
   border-radius: 4px;

   &__title {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 26px;
      line-height: 38px;
   }
   &__info {
      display: flex;
      gap: 25px;
      font-size: 18px;
      line-height: 26px;
      align-items: center;
      margin-bottom: 10px;
   }
}
