// variables
// colors
$primary: #ff6464;
$secondary: #edf7fa;
$dark: #21243d;
$light: #8695a4;

// container
$big-container-width: 1032px;
$container-width: 856px;
$small-container-width: 682px;
$container-padding: 18px;

.container {
   max-width: $container-width + ($container-padding * 2);
   padding: 0 $container-padding;
   margin: 0 auto;
}

.container--big {
   max-width: $big-container-width + ($container-padding * 2);
   padding: 0 $container-padding;
   margin: 0 auto;
}

.container--small {
   max-width: $small-container-width + ($container-padding * 2);
   padding: 0 $container-padding;
   margin: 0 auto;
}

// main settings

html {
   height: 100%;
}

body {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   font-family: "Heebo", sans-serif;
   line-height: 24px;
   color: $dark;
}

a {
   color: inherit;
}

.none {
   display: none !important;
}

.main {
   flex: 1 1 auto;
}

.title {
   font-weight: 700;
   font-size: 44px;
   line-height: 60px;
}

.btn {
   display: inline-block;
   padding: 9px 20px;
   background-color: $primary;
   color: #fff;
   text-align: center;
   transition: 0.3s all ease-in;
   border-radius: 2px;

   &:hover {
      transition: 0.3s all ease-in;
      background-color: $dark;
      color: $primary;
   }
}
